/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/11/2018, 03:34:58 PM
    Author     : emilio
*/

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    font-size: 17px;
}

/*body > * {
    font-size: 17px;
}*/

.left {
    float: left;
}

.right {
    float: right;
}
.center {
    text-align: center;
}
/* The top bar container */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 17px;*/
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active-crear {
    background-color: rgb(76, 122, 175);
    color: white;
}

/* The dropdown container */
.dropdown {
    /* float: left; */
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    /* font-size: 16px; */
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-size: 17px;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    /* margin-top: 20px; */
    padding: 8px 0px;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-log {
    padding: 16px;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.from-submit:hover {
    opacity: 0.8;
}

.encuestas {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.card {
    border: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
    /* box-shadow: 1px 1px 20px 1px black; */
}


.card-button {
    background-color: #4CAF50;
    padding: 10px 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    font-size: 17px;
    color: white;
    display: box;
    margin-top: 20px;
}

.card-button:hover {
    opacity: 0.8;
}

.card-button:disabled {
    opacity: 0.4;
    cursor: default;
}

.text-muted {
    color: #737373;
    font-size: smaller;
    margin-right: 20px;
}

.error {
    font-size:11px; 
    color:#cc0000; 
    margin-top:10px;
}

.form-crear {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    width: 70vw;
    background-color: white;
    padding: 10px 20px;
}

.form-crear-titulo {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-crear-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-crear-input-area {
    resize: none;
}

.form-crear-input-opc {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-crear-new {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* .disabled {
    opacity: 0.7;
} */

.form-crear-del {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(175, 26, 26);
    color: white;
    border: none;
    cursor: pointer;
}